<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/acesso.css">
    <title>Página de Acesso Teste</title>
</head>
<body>
    <div class="mensagem">
    <h1>ainda está sendo desenvolvido</h1>
    <p>aguarde! {{nomeUsuario}}!!</p>
    <img src="../../img/629a73f1e98f83189359ccb98cdaf251.jpg" alt="" width="400px">
    <footer>
        
        <div class="creditos">
            <p>created by urubu do pix ©</p>
        </div>
    </footer>
</div>
<a href="login.html"></a>

</body>
</html>