
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Loot Usado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css')}}">
    <link rel="stylesheet" href="../../static/css/cadastro.css">
</head>
<body>
   
        <div class="formulario">
            <form class="formulario-registro" action="/register" method="POST">
                <div class="espacamento"><label class="label" for="nome">Novo Usuário:</label>
                </div>
                <div class="espacamento"><input id="nome" name="nome" type="text" placeholder="Digite o nome de usuário" required>
                </div>
                
                <div class="espacamento"><label class="label" for="senha">Nova Senha:</label></div>
                <div class="espacamento"><input id="senha" name="senha" type="password" placeholder="Digite a senha" required></div>

                <div class="espacamento"><button type="submit" id="botao-registrar" value="registrar">Registrar</button></div>
            </form>
        </div>
        <footer>
        
            <div class="creditos">
                <p>created by urubu do pix ©</p>
            </div>
        </footer>
 
</body>
</html>
