<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loot Usado</title>
    <link rel="stylesheet" href="../../static/css/forgot.css">
<body>
    <main>
        <form action="">
                <div class="espacamento"><label for="text" required> Digite seu Email: </label></div>
                <div class="espacamento"><input type="email" placeholder="Digite seu Email"></div>
                <div><button id="botao-entrar">Enviar</button></div>
                <div class="espacamento"><a href="#" id="fix">Não possuo acesso ao Email</a></div>
        </form>
       
    </main>
    <footer>
        
        <div class="creditos">
            <p>created by urubu do pix ©</p>
        </div>
    </footer>
</body>