<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/acesso.css">
    <title>Página de Acesso Teste</title>
</head>
<body>
    <div class="mensagem">
    <h1>Usuário cadastrado com sucesso!!</h1>
    <p>Seja bem vindo {{nomeUsuario}}!!</p>
    <img src="../../img/474859d5-2d0f-4d11-b7a5-5e0b2f750fc3.jpg" alt="">
    <footer>
        
        <div class="creditos">
            <p>created by urubu do pix ©</p>
        </div>
    </footer>
</div>
<a href="login.html"></a>

</body>
</html>